body {
    background-color: red;
}

#medium {
    display: none;
}

#large {
    display: none;
}

h2 {
    font-size: 20px;
}

.p {
    font-size: 20px;
    text-align: center;
}

.container {
    justify-content: center;
    width: 33%;
}

@media only screen and (min-width: 300px) {
    body {
      background-color: green;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 21px;
    }

    #small {
        display: none;
    }

    #medium {
        display: inline-block;
    }
  }

  @media only screen and (min-width: 768px) {
    body {
      background-color: blue;
    }

    #small {
        display: none;
    }

    #medium {
        display: none;
    }

    p {
        font-size: 25px;
    }

    h2 {
        font-size: 40px;
    }

    #large {
        display: inline-block;
    }

  }